@import '../assets/scss/variables';

.header {
  z-index: 1;
  .navbar {
    margin-bottom: 0;
    min-height: 100px;

    &.navbar-inverse {
      background: rgba($color-fiord, 0.5);
      background-image: none;
      border: none;
      border-radius: 0;
    }

    .container {
      .navbar-header {
        .navbar-brand {
          height: auto;
          padding: 0;
          padding-top: 12px;

          img {
            width: 180px;
          }
        }

        .navbar-toggle {
          border: none;
          margin-bottom: 0;
          margin-top: 33px;
        }
      }

      .navbar-collapse {
        margin-top: 25px;
      }
    }
  }

  @media only screen and (max-width : 40em) {
    .navbar {
      .container {
        .navbar-header {
          .navbar-brand {
            margin-top: 8px;

            img {
              width: 130px;
            }
          }
        }
      }
    }
  }
}
