/**
 * MEDIA QUERIES
 */

// Smartphones Breakpoint
$mobile-breakpoint: "only screen and (max-width : 40em)";

// Tablets Breakpoint
$tablet-breakpoint: "only screen and (max-width : 60em)";

// Colors
$color-fiord: rgb(69, 90, 100); /* #455a64 */
$color-white: rbg(255, 255, 255); /* #fff */
