@import '../assets/scss/variables';
.carousel-wrapper {
  position: relative;
  .carousel {
    height: 100vh;
    overflow: hidden;

    .carousel-inner {
      .item {
        img {
          border: 1px solid $color-white;
          height: 100vh;
          width: 100%;
        }
      }
    }
  }

  .logo-banner {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    img {
      display: block;
      margin: 0 auto;
      max-width: 400px;
    }
  }
}
